<app-navbar></app-navbar>

<!--Menu Cards-->
<div class="row row-cols-1 row-cols-md-3 g-4 menu-cards">
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/users.png" class="card-img-top" alt="Users" style="width: 50%;">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <a routerLink="/users" class="btn btn-primary viewBtn">View</a>
        </div>
      </div>
    </div>
    <div class="col" style="margin-left: 100px;">
        <div class="card h-100" style="width: 18rem;">
          <img src="../../assets/settings.png" class="card-img-top" alt="My Account" style="width: 50%;">
          <div class="card-body">
            <h5 class="card-title">My Account</h5>
            <a routerLink="/account" class="btn btn-primary viewBtn">View</a>
          </div>
        </div>
      </div>

  </div>
<!--Menu Cards-->
